.main-area
  .col-md-12.col-xs-12.col-lg-12.right-sidebar.padding-left-right-zero
    .col-md-12.col-xs-12.col-lg-12.col-sm-12.padding-box-columing
      .panel.panel-white
        .panel-heading.clearfix
          h3.panel-title Auto data syncronization settings 
        .panel-body
          .container
            .row.centered-form
              .col-xs-12.col-sm-10.col-md-10.col-sm-offset-8.col-md-offset-8
                .panel.panel-default
                  .panel-heading
                    h3.panel-title
                      | Schedular On/ Off
                    
                  .panel-body
                    form
                      .row
                        .col-xs-6.col-sm-6.col-md-6
                          .form-group
                          each info in cronJobInfo 
                            if(info.is_enable==0)                                       
                              label.switch
                                input(type='checkbox',id='is_enable')
                                span.slider.round  
                              
                            if(info.is_enable==1)
                              label.switch
                                input(type='checkbox',id='is_enable', checked='')
                                span.slider.round                               
                        
                .panel.panel-default
                  .panel-heading
                    h3.panel-title
                      | Please enter the below information for setting the schedular
                  .panel-body
                    form
                      .row
                        .col-xs-6.col-sm-6.col-md-6
                          .form-group
                            input#name.form-control.input-sm(type='text', name='name', placeholder='Cron Job Name')
                        .col-xs-6.col-sm-6.col-md-6
                          .form-group
                            input#short_code.form-control.input-sm(type='text', name='short_code', placeholder='Short Code')
                            
                      .row
                        .col-xs-6.col-sm-6.col-md-6
                          .form-group
                            select.form-control(id="source", name="source")
                                  option(value="") Select Source Instance
                                  each info in sourceInfo 
                                    option(value=info.id) #{info.channel_name}
                        .col-xs-6.col-sm-6.col-md-6
                          .form-group
                            select.form-control(id="schedular_type", name="schedular_type")
                              option(value="") Select Schedular Type                              
                              option(value="daily") Daily 
                              option(value="hourly") Hourly             
                      .row                        
                        .col-xs-6.col-sm-6.col-md-6
                          .form-group
                            input#hours.form-control.input-sm(type='number', name='hours',min='0', max='23', placeholder='Hour (range: 0-23)')
                        .col-xs-6.col-sm-6.col-md-6
                          .form-group
                            input#minutes.form-control.input-sm(type='number', name='minutes', min='0', max='59', placeholder='Minute (range: 0-59)')    
                        
                      .row
                        .col-xs-6.col-sm-6.col-md-6
                          .form-group
                            input#exportedDataLimit.form-control.input-sm(type='number', name='exportedDataLimit', placeholder='Exported data limit from Source(Ex: 10)')
                        .col-xs-6.col-sm-6.col-md-6
                          .form-group
                            input#exportFromDays.form-control.input-sm(type='number', name='exportFromDays', placeholder='Export days from last date(max 31 days)')                   
                      
                      .form-group
                        input#notes.form-control.input-sm(type='text', name='notes', placeholder='Write notes')
                        br
                        button.btn.btn-info.btn-block.schedular-settings-btn(type='submit' ) Create Schedular

        table(class="table table-bordered table-hover table-header-bg")
          thead(class="table-header-bg thead")
            tr
              th ID
              th Name
              th Short Code
              th Enable/Disable
              th Schedular Type
              th Start Time
              th Created Date
              th Action

          tbody        
            each api, i in cronJobInfo
              tr
                td= api.schedular_id   
                td= api.name   
                td= api.short_code   
                td= api.is_enable   
                td= api.schedular_type    
                td= api.hours +':'+ api.minutes 
                td= api.createddate
                td 
                  button(class="btn btn-danger btn-small delete-settings", id="delete-settings"+api.schedular_id, type="button", value=api.schedular_id+"_schedular") Delete    


