table(class="table table-bordered table-hover table-header-bg")
  thead(class="table-header-bg thead")
    tr
      th S/N
      th Module Name
      th Table Name
      th Log Type
      th Log Detail
      th Status Code
      th Created Date

  tbody
    each data, i in logInfo          
      tr
        td= i = 1
        td= data.module_name
        td= data.table_name
        td= data.log_type
        td= data.message
        td= data.status_code
        td= data.created_date
